
@{
    ViewBag.Title = "Báo cáo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card card-custom">
    <div class="card-header">
        <h3 class="card-title">
            Báo cáo hàng tồn
        </h3>
    </div>
    <form id="form">
        <div class="card-body">
            <div class="form-group row">
                <!--<label for="example-search-input" class="col-xl-2 col-lg-2 col-form-label">Phiếu Kiểm Kê<span style="color:red"> (*) </span></label>
        <div class="col-xl-4">
            <div class="input-group ">
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                     width="38" height="38"
                     viewBox="0 0 48 48"
                     style=" fill:#000000;">
                    <path fill="#616161" d="M34.6 28.1H38.6V45.1H34.6z" transform="rotate(-45.001 36.586 36.587)"></path>
                    <path fill="#616161" d="M20 4A16 16 0 1 0 20 36A16 16 0 1 0 20 4Z"></path>
                    <path fill="#37474F" d="M36.2 32.1H40.2V44.400000000000006H36.2z" transform="rotate(-45.001 38.24 38.24)"></path>
                    <path fill="#64B5F6" d="M20 7A13 13 0 1 0 20 33A13 13 0 1 0 20 7Z"></path>
                    <path fill="#BBDEFB" d="M26.9,14.2c-1.7-2-4.2-3.2-6.9-3.2s-5.2,1.2-6.9,3.2c-0.4,0.4-0.3,1.1,0.1,1.4c0.4,0.4,1.1,0.3,1.4-0.1C16,13.9,17.9,13,20,13s4,0.9,5.4,2.5c0.2,0.2,0.5,0.4,0.8,0.4c0.2,0,0.5-0.1,0.6-0.2C27.2,15.3,27.2,14.6,26.9,14.2z"></path>
                </svg>
                <input class="form-control" type="search" placeholder="Tìm Phiếu Kiểm Kê" name="seachStock" id="seachStock" />
            </div>
        </div>-->
                <label for="example-search-input" class="col-xl-2 col-lg-2 col-form-label">Chọn Kho Để Báo cáo</label>
                <div class="col-xl-4">
                    <select class="form-control" id="warehouse" name="warehouse"></select>
                </div>
            </div>

            <div class="form-group row" id="selectTime">
                <label for="example-search-input" class="col-xl-2 col-lg-2 col-form-label">Từ ngày</label>
                <div class="col-xl-4">
                    <input class="form-control" id="tungay" placeholder="Select time" type="date" onchange="">
                </div>
                <label for="example-search-input" class="col-xl-2 col-lg-2 col-form-label">Đến ngày</label>
                <div class="col-xl-4">
                    <input class="form-control" id="denngay" placeholder="Select time" type="date" onchange="">
                </div>
            </div>
            <div class="form-group row">
                <div class="">
                    <span class="switch">
                        <label>
                            <input type="checkbox" name="quarterDay" />
                            <span></span>
                        </label>
                    </span>
                </div>
                <label class="col-2 col-form-label">Theo quý</label>
            </div>
            <div class="row" style="height: 500px;overflow-y: scroll;">
                <div class="col-sm-12">
                    <table class="table table-separate table-head-custom table-checkable dataTable no-footer dtr-inline" id="kt_datatable" role="grid" aria-describedby="kt_datatable_info">
                        <thead>
                            <tr role="row">
                                <th class="sorting" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="width: 100px;" aria-label="Company Email: activate to sort column ascending">STT</th>
                                <th class="sorting" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="width: 170px;" aria-label="Company Email: activate to sort column ascending">Mã Hàng</th>
                                <th class="sorting" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="width: 190px;" aria-label="Company Email: activate to sort column ascending">Tên Hàng</th>
                                <th class="sorting" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="width: 190px;" aria-label="Company Email: activate to sort column ascending">Kho Hàng</th>
                                <th class="sorting" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="width: 170px;" aria-label="Company Email: activate to sort column ascending">Số Lượng Tồn</th>
                            </tr>
                        </thead>
                        <tbody id="tbd">
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-2">
                    </div>
                    <div class="col-10">
                        <button type="button" class="btn btn-success mr-2" onclick=""> Xuất báo cáo</button>
                        <a href="/Stock/Index" type="reset" class="btn btn-secondary">Thoát</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal" id="BILL" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width:1100px">
        <div class="modal-content">
            <div class="modal-body" id="in">
                <div class="row">
                    <div class="col-7">
                        <p>CÔNG TY CỔ PHẦN THƯƠNG MẠI HÀ PHAN</p>
                        <p>Địa Chỉ: 758/25/2B Xô Viết Nghệ Tĩnh, Phường 25, Quận Bình Thạnh, TP HCM.</p>
                    </div>
                    <div class="col-5" style="transform: translate(60%, 0px);">
                        <p>Số PKK : <span name="iddh"></span></p>
                        <p>Ngày PKK : <span name="datedh"></span></p>
                    </div>
                </div>
                <div class="" style="text-align:center">
                    <h1>Biên Bản Kiểm Kê</h1>
                </div>
                <p>- Người Kiểm Kê : <span name="stocker"></span></p>
                <p>- Tôi Đã Tiến Hành Kiểm Kê Với Kết Quả Như Sau:</p>
                <table class="table table-bordered" id="kt_datatable" role="grid" aria-describedby="kt_datatable_info" style="width:100%;">
                    <thead>
                    </thead>
                    <tbody id="tbdmodal">
                    </tbody>
                </table>
                <div class="row" style="text-align:center">
                    <div class="col-6">
                        <p><span name="nameCustomer"></span></p>
                        <p name="">Người Xác Nhận</p>
                        <p name="">(Ký, ghi rõ họ tên)</p>
                    </div>
                    <div class="col-6">
                        Ngày.....Tháng....Năm........
                        <p>Người Lập Đơn hàng</p>
                        <p>(Ký, ghi rõ họ tên)</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer" id=hide>
                <a type="button" href="/Stock/Index" class="btn btn-secondary">Close</a>
                <button type="button" onclick="printDiv('in')" class="btn btn-primary">IN</button>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>

        WareHouse()

        function WareHouse() {
            $.ajax({
                url: '/Stock/GetAllWareHouses',
                type: 'get',
                success: function (data) {
                    $('#warehouse').empty();
                    if (data.status == 200) {
                        console.log(data);
                        let table = '<option value="-1">Tất cả kho Hàng</option>'
                        $.each(data.warehouses, function (k, v) {
                            table += '<option value="' + v.id + '">' + v.name + '</option>'
                        });
                        $('#warehouse').append(table);
                        toastr.success(data.msg)
                    } else (
                        toastr.error(data.msg)
                    )
                }
            })
        }
    </script>    
}

